.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

body {
    vertical-align: top;
}
.persoon {
    background-color: beige;
    display: flex;
    flex-direction: row;

}
.la {
    display:none;
}

.lb {
    display:none;
}

.lc {
    display:none;
}

.ld {
    display:none;
}

#lettera.filterbox:checked ~ .grid .la {
    display:block;
}

#letterb.filterbox:checked ~ .grid .lb {
    display:block;
}

#letterc.filterbox:checked ~ .grid .lc {
    display:block;
}

#letterd.filterbox:checked ~ .grid .ld {
    display:block;
}