.grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    vertical-align:top;
}

.filterbox{
    display:none;

}

.filterbox + label{
    display:inline-block;
    border:solid;
    border-color:black;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
    color: gray;
    padding:30px;
    margin:20px 10px;
}
.filterbox:checked + label{
    background-color:black;

}
.persoon {
    background-color: beige;
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
}
.profielfoto {
    grid-column:1/2;
    grid-row: 1/2;
}
.profielinfo {
    grid-column: 1/3;
    grid-row: 2/3;
}
.la {
    display:none;
}

.lb {
    display:none;
}

.lc {
    display:none;
}

.ld {
    display:none;
}

#lettera.filterbox:checked ~ .grid .la {
    display:grid;
}

#letterb.filterbox:checked ~ .grid .lb {
    display:grid;
}

#letterc.filterbox:checked ~ .grid .lc {
    display:grid;
}

#letterd.filterbox:checked ~ .grid .ld {
    display:grid;
}
#letterall.filterbox:checked ~ .grid .la {
    display:grid;
}

#letterall.filterbox:checked ~ .grid .lb {
    display:grid;
}

#letterall.filterbox:checked ~ .grid .lc {
    display:grid;
}

#letterall.filterbox:checked ~ .grid .ld {
    display:grid;
}